{% extends "layout.html" %}

{% block body %}
<div class="container">
  <div class="row">
    {% if current_user.is_authenticated %}
      <h1>Welcome back {{ current_user.username }}</h1>
    {% else %}
      <h1>Welcome to toto betting</h1>
    {% endif %}
  </div>
  <div class="row">
    <div class="col">
      <h3>Bets in total: {{ bcount }}</h3>
      <h3>Total credits spent on bets {{ cspent }}€ </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5">
      <table class="table">
        <tr>
          <th>User</th>
          <th>Race</th>
          <th>Location</th>
          <th>Bet amount</th>
        </tr>
        {% for row in summary %}
        <tr>
          {% for item in row %}
            <td>{{ item }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </table>
    </div>
    </div>
</div>
{% endblock %}