{% extends "layout.html" %}
{% block body %}
<div class="container">
  <h1>Available races</h1>
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Place bet</th>
    </tr>
    {% for race in races %}
      <tr>
        {% if race.isopen %}
        <td>{{ race.name }}</td>
        <td>{{ race.location }}</td>
        <td><a href="{{url_for('place_bet', raceid=race.raceid)}}" class="btn btn-primary">Place bet</a></td>
        {% endif %}
      </tr>
    {% endfor %}
  </table>
  <h1>Current bets</h1>
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Amount</th>
    </tr>
    {% for bet in current_user.bets %}
      {% if bet.race.isopen %}
        <tr>
          <td>
            {{ bet.race.name }}
          </td>
          <td>
            {{ bet.race.location }}
          </td>
          <td>
            {{ bet.amount }}
          </td>
        </tr>
      {% endif %}
    {% endfor %}
  </table>
</div>
{% endblock %}