{% extends "layout.html" %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-sm-5 p-3">
      <div class="row"><h2>Bet on {{ race.name }}</h2></div>
      <div class="row">
        <h5>Location: {{ race.location }}</h5>
      </div>
      <div class="row">
        <p>{{ race.description }}</p>
      </div>
    </div>
    <div class="col-sm-5 p-3">
      <div class="row">
        <h2>Select horse</h2>
      </div>
      <div class="row">
          <h2>BET AMOUNT</h2>
      </div>
    </div>
  </div>
</div>
{% endblock %}