{% extends "layout.html" %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-sm-5 p-3">
      <div class="row"><h2>Bet on {{ race.name }}</h2></div>
      <div class="row">
        <h5>Location: {{ race.location }}</h5>
      </div>
      <div class="row">
        <p>{{ race.description }}</p>
      </div>
    </div>
    <div class="col-sm-5 p-3">
        <div class="row">
            <div class="row"><h5>Confirm bet on: {{ horse.name }}</h5></div>
        </div>
        <div class="row">
            <div class="col-sm-5 p-3">
            <form method="POST" action="{{ url_for('place_bet_confirm', raceid=race.raceid, horseid=horse.horseid) }}">
            <div class="form-group">
                {{ form.amount.label }}
                {{ form.amount(class_="form-control") }}
            </div>
            <input type="submit" values="Confirm" class="btn btn-success">
            </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}