{% extends "layout.html" %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col">
            <h2>All horses</h2>
            <table class="table">
                <tr>
                    <th>Horse name</th>
                    <th>Breed</th>
                    <th>Tier</th>
                    <th>Wins</th>
                    <th>Details</th>
                </tr>
                {% for horse in horses %}
                    <tr>
                        <td>{{ horse.name }}</td>
                        <td>{{ horse.breed }}</td>
                        <td>{{ horse.tier }}</td>
                        <td>{{ horse.wins }}</td>
                        <td>
                            <a href="{{ url_for('horse',horseid=horse.horseid) }}"> Details </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock %}