{% extends "layout.html" %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      {{ error }}
      <form method="POST" action="{{ url_for('auth_register') }}">
        <table>
          <tr>
            <td>{{ form.username.label }}</td>
          </tr>
          <tr>
            <td>{{ form.username }}</td>
            <td>
              <ul>
                {% for error in form.username.errors %}
                <li>{{ error }}</li>
                {% endfor %}
              </ul>
            </td>
          </tr>
          <tr>
            <td>{{ form.password1.label }}</td>
          </tr>
          <tr>
            <td>{{ form.password1 }}</td>
            <td>
              <ul>
                {% for error in form.password1.errors %}
                <li>{{ error }}</li>
                {% endfor %}
              </ul>
            </td>
          </tr>
          <tr>
            <td>{{ form.password2.label }}</td>
          </tr>
          <tr>
            <td>{{ form.password2 }}</td>
            <td>
              <ul>
                {% for error in form.password2.errors %}
                <li>{{ error }}</li>
                {% endfor %}
              </ul>
            </td>
            </tr>
            <tr>
            <td><input type="submit" value="Register" class="btn btn-primary"/></td>
          </tr>
        </table>
      </form>
    </div>
  </div>
</div>
{% endblock %}